body {
    font-family: Arial, sans-serif;
    background-color: #cce5ff; /* Azul claro */
    margin: 0;
    padding: 0;
}

header {
    background-color: #3366cc; /* Azul oscuro */
    text-align: center;
    padding: 20px;
}

h1 {
    color: #fff;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.work {
    background-color: #fff;
    border: 1px solid #ccd9ff; /* Borde azul pastel */
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    width: 300px;
    position: relative;
    transition: transform 0.3s;
    transform-style: preserve-3d;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); /* Sombra en la parte inferior y derecha */
}

.work:hover {
    transform: rotateY(10deg) rotateX(10deg);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4); /* Sombra más pronunciada al hacer hover */
}

.work::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1); /* Sombreado negro para el frente */
    pointer-events: none; /* Evita interacciones con el sombreado */
    transition: opacity 0.3s;
    opacity: 0; /* Inicialmente transparente */
}

.work:hover::before {
    opacity: 1; /* Sombreado visible al hacer hover */
}

.work img {
    max-width: 100%;
    height: auto;
}

.work h2 {
    color: #333;
    font-size: 1.5rem;
    margin: 10px 0;
}

.work p {
    color: #666;
}

.work a {
    display: inline-block;
    background-color: #3366cc; /* Azul oscuro */
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.work a:hover {
    background-color: #001a66; /* Azul más oscuro */
}

footer {
    background-color: #3366cc; /* Fondo azul oscuro para el footer */
    color: #fff; /* Texto blanco */
    text-align: center; /* Texto centrado */
    padding: 10px 0; /* Espaciado interno */
    position: fixed; /* Posición fija para que esté en el fondo */
    bottom: 0; /* Alinea el footer en la parte inferior */
    left: 0; /* Alinea el footer a la izquierda */
    width: 100%; /* Ancho completo */
}